<html>
<head>
  <link rel="stylesheet" href="assets.css">
  </head>
<body>
  <h1>Index</h1>
  <ol>
    <li>
      <a href="artists.html">Artists</a>
    </li>
    <li>
      <a href="genres.html">Genres</a>
    </li>
    <li>
      <a href="songs.html"> Songs</a>
    </li>  
  </ol>
</body>
<div class="footer"> <p> <a href="index.html">Home</a> - Team Table Stealers - all your tables are belong to us
</p>
</div>
</html>