<html>
  <body>
    <h1><%= song_object.name %> </h1>
    <ol>
      <% song_object.name %>
        <li>
          <p><%= song_object.artist.name %> - 
            <%= song_object.genre.name.capitalize %></p>
        </li>
    </ol>

  </body>
</html>