<html>
<head>
  <link rel="stylesheet" href="assets.css">
</head>
<body>
  <h1>Songs</h1>
  <p><%= @songs.count %></p>
  <ol>
    <% @songs.each do |song| %>
      <li>
        <p><a href="songs/<%= song.name.gsub(' ', '_') %>.html"><%= song.name %></a></p>
      </li>
    <% end %>
  </ol>

<div class="footer"> <p> <a href="index.html">Home</a> - Team Table Stealers - all your tables are belong to us
</p>
</div>
</body>
</html>